<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="ion-content">
    <div class="">
      <div class="content">
        <div class="app-icon"></div>
      </div>
    </div>
    <div class="padding">
      <div class="list">
        <ion-md-input type="text" placeholder="Name" highlight-color="energized" ng-model="register.Uname">Name</ion-md-input>
        <ion-md-input type="text" placeholder="Email" highlight-color="energized" ng-model="register.email">email</ion-md-input>
        <ion-md-input type="password" placeholder="Password" highlight-color="energized" ng-model="register.password">Password</ion-md-input>
        <ion-md-input type="password" placeholder="Confirm Password" highlight-color="energized" ng-model="register.confirm_password">Confirm Password</ion-md-input>

      </div>
    </div>
    <div class="padding">

      <button id="signup-button4" class=" button button-full "style="background-color:transparent !important;    color: #ee7d00;" ng-click="ConfirmRegister()">Sign up</button>
    </div>
  </ion-content>
</ion-view>
