<ion-view title="All Reservations" id="allRes" ng-init="loadMoreAll()" class=" ">
  <ion-nav-back-button></ion-nav-back-button>
<button class="button button-energized button-fab button-fab-bottom-right" ui-sref="tabsController.newReservationTab" style="display: block;"><i class="icon ion-plus"></i> </button>
  <ion-content padding="true" class="has-header" overflow-scroll="false">


    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search" ng-model="data.searchTable" ng-change="searchFil()">
      </label>

      <button ng-click="res()" class="button ion-android-close input-button button-small"  ng-show="data.searchTable.length">clear
      </button>
    </div>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="false" can-swipe="true" ng-show="main">

      <div ng-repeat="event in all" class="card" ng-click="onEventSelected(event)">

        <div class="item {{event.machine}}">
          <span>{{event.firstname}} {{event.lastname}}</span>&nbsp; <span class="right"><i class="icon ion-ios-telephone" ></i>&nbsp;<a ng-href="tel: {{event.mobile}}">{{event.mobile}}</a></span>
        </div>
        <div class="item item-text-wrap">
          <div class="item-row">
            <div class="reservation-info"><i class="icon ion-calendar"></i>&nbsp;{{ event.date }}</div>
            <div class="reservation-info center"><i class="icon ion-clock"></i> {{ event.Time | date:'short' }}</div>
            <div class="reservation-info right"><i class="icon ion-android-contact"></i>&nbsp;{{ event.seats }}</div>
          </div>
          <div class="item-row">
            <div class="reservation-info"><i class="icon ion-location"></i>&nbsp;{{ event.area}}</div>
            <div class="reservation-info center"><i class="icon ion-android-notifications-none"></i>&nbsp;Table {{ event.table_id}}</div>
            <div class="reservation-info right"><i class="icon ion-flag"></i>&nbsp;{{ event.machine}}</div>
          </div>
        </div>

      </div>

    </ion-list>
    <ion-list show-delete="false" can-swipe="true" ng-show="searchR">

      <div ng-repeat="event in SearcRes" class="card" ng-click="onEventSelected(event)">

        <div class="item {{event.machine}}">
          <span>{{event.firstname}} {{event.lastname}}</span>&nbsp; <span class="right"><i class="icon ion-ios-telephone" ></i>&nbsp;<a ng-href="tel: {{event.mobile}}">{{event.mobile}}</a></span>
        </div>
        <div class="item item-text-wrap">
          <div class="item-row">
            <div class="reservation-info"><i class="icon ion-calendar"></i>&nbsp;{{ event.date }}</div>
            <div class="reservation-info center"><i class="icon ion-clock"></i> {{ event.Time | date:'short' }}</div>
            <div class="reservation-info right"><i class="icon ion-android-contact"></i>&nbsp;{{ event.seats }}</div>
          </div>
          <div class="item-row">
            <div class="reservation-info"><i class="icon ion-location"></i>&nbsp;{{ event.area}}</div>
            <div class="reservation-info center"><i class="icon ion-android-notifications-none"></i>&nbsp;Table {{ event.table_id}}</div>
            <div class="reservation-info right"><i class="icon ion-flag"></i>&nbsp;{{ event.machine}}</div>
          </div>
        </div>

      </div>

    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreAll()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
