<ion-view title="Edit Event " id="editEvent" ng-init="initEditEvent(event) " class=" ">
  <button class="button button-energized button-fab button-fab-bottom-right" ui-sref="tabsController.newReservationTab" style="display: block;"><i class="icon ion-plus"></i> </button>
  <ion-content padding="true" class="padding scroll-content ionic-scroll has-header has-footer">
    <form id="New Tab-form4" class="list positive">
      <a class="item item-icon-left item-icon-right positive" href ng-click="calendar = !calendar">
        <i class="icon ion-calendar"></i>{{date[0]}}
        <span class="badge badge-assertive"></span>
      </a>
      <label class="item item-input positive" id=" Tab-input2" ng-show="calendar">
        <span class="input-label positive">Date</span>

        <input type="date" min="2016-07-01" max="2016-12-31" id="dtne" ng-change="updateData()" placeholder="" ng-model="add.date">
      </label>
      <label class="item item-input item-select positive" id=" Tab-input5" ng-show="calendar">
        <span class="input-label positive">seats</span>
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-model="add.seats" ng-change="" ng-options="x for x in se">
        </select>

      </label>
      <label class="item item-input item-select positive" id=" Tab-input9" ng-show="calendar">
        <span class="input-label positive">Status</span>
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-model="add.flag" ng-change="" ng-options="x for x in flag_name">
        </select>

      </label>
      <label select-click class="item item-input item-select positive " id="New Reservation Tab-input4" ng-show="calendar">
        <span class="input-label positive">Area</span>
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-model="add.area" ng-change="updateData()" ng-options="x for x in area">

        </select>

      </label>
      <label class="item item-input item-select positive" id="  Tab-input3" ng-show="calendar">

        <span class="input-label positive">Tables for the selected area</span>
        <div class="input-label positive">
          &nbsp;
        </div>
        <select ng-model="add.table"  ng-change="" ng-options="x for x in listTa">

        </select>

      </label>
      <label class="item item-input item-select positive" id=" Tab-input4" ng-show="calendar">
        <span class="input-label positive">available hours</span>
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-model="add.time" ng-change="" ng-options="x for x in timesss">
        </select>

      </label>

    </form>
    <ion-list show-edit="false" >
      <ion-item class="item-icon-left positive   ">



        <i class="icon ion-person"></i> FirstName :
        <input name="firstname" id="firstname" type="text" placeholder="" ng-model="add.firstname"></input>
      </ion-item>
      <ion-item class="item-icon-left positive">
        <i class="icon ion-person"></i> lastName :
        <input name="lastname" id="lastname" type="text" placeholder="" ng-model="add.lastname"></input>




      </ion-item>
    </ion-list>



    <ion-item class="item-icon-left positive">
      <i class="icon ion-ios-telephone-outline"></i>
      <input name="mobile" id="mobile" type="text" placeholder="" ng-model="add.mobile"></input>
    </ion-item>
    <ion-item class="item-icon-left positive">
      <i class="icon ion-email"></i>&nbsp;
      <input name="email" id="email" type="text" placeholder="" ng-model="add.email">
    </ion-item>


    <ion-item class="item-icon-left positive">
      <i class="icon ion-edit"></i>&nbsp;
      <input name="description" id="description" type="text" placeholder="" ng-model="add.description">
    </ion-item>
    <button id="submit" class=" button button-stable  button-block" ng-click="submitEdit()">submit</button>

  </ion-content>
</ion-view>
