<ion-view title="events" id="events" ng-init="" class=" ">
  <ion-content padding="true" class="has-header ion-content">
    <ion-list show-edit="false" show-delete="false" can-swipe="true">
      <div class="item arrived">


          Event #{{ event[0].title }}


      </div>
    </ion-list>
    <ion-item class="item-icon-left energized">
      <i class="icon ion-android-calendar"></i>{{event[0].date}}
    </ion-item>

      <div class="item padding" >
        <button class="button button-energized" modal-select="" ng-model="resdata.time" options="event[0].Time"modal-title="Select a time" header-footer-class="bar-energized">
          Select time:{{resdata.time.time}}
          <div class="option" multiple>
            {{option.time}}
          </div>
        </button>
      </div>

    <ion-item class=" item-icon-left energized">
      <i class="icon ion-android-contact"></i>&nbsp;{{ event[0].firstname }} &nbsp;&nbsp;{{event[0].lastname}}
    </ion-item>
    <ion-item class="item-icon-left energized">
      <i class="icon ion-location"></i>&nbsp;{{ event[0].location}}
    </ion-item>


    <ion-item class="item-icon-left energized">
      <i class="icon ion-email"></i>&nbsp;{{ event[0].email}}
    </ion-item>
    <ion-item class="item-icon-left energized">
      <i class="icon ion-edit"></i>&nbsp;{{ event[0].description}}
    </ion-item>
    <div class="padding">
      <button id="take part" class=" button button-full "style="background-color:transparent !important;    color: #ee7d00;" ng-click="takepart()">take Part</button>
    </div>
  </ion-content>
</ion-view>
