<ion-view title="HOME" id="page2" class=" ">

  <ion-content padding="true" class="has-header animate-fade-slide-in ion-content dashboard">
    <button class="button button-energized button-fab button-fab-bottom-right" ui-sref="tabsController.exploreTabDefaultPage" style="display: block;"><i class="icon ion-plus"></i> </button>

    <div class="list condensed-space no-padding ">
      <div class="card royal-bg " ng-click="TodayRes()">
        <i class="fa fa-list"></i>
        <a class="item-royal-bg waves-effect waves-button waves-light has-mask-reverse" ng-click="allevents()" href="#">
          <p class="light"> All Events</p>
        </a>
      </div>
      <div class="card positive-bg card-right" ng-click="upcomingRes()">
        <i class="fa fa-calendar"></i>
        <a class="item-positive-bg waves-effect waves-button waves-light has-mask-reverse" ng-click="calendar()" href="#">
          <p class="light"> Calendar</p>
        </a>

      </div>
      <div class="card assertive-bg" ng-click="allRes()">
        <i class="fa fa-bar-chart "></i>
        <a class="item-assertive-bg waves-effect waves-button waves-light has-mask-reverse" ng-click="myevents()" href="#">
          <p class="light"> My Events</p>
        </a>

      </div>
      <div class="card calm-bg  card-right" ng-click="custom()">
        <i class="fa fa-user"></i>
        <a class="item-calm-bg  waves-effect waves-button waves-light has-mask-reverse" ng-click="profil()" href="#">
          <p class="light"> Profile</p>
        </a>

      </div>
    </div>

  </ion-content>
</ion-view>
