<ion-view title="profile" id="profile" ng-init="profile()" class=" ">
  <ion-nav-buttons side="left">
    <md-button class="button md-icon-button ion-nav-button-right" ng-click="myGoBack()" aria-label="Setting">
          <i class="ion-arrow-left-c"></i>
      </md-button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header  ion-content">
    <ion-list show-edit="false" show-delete="false" can-swipe="true">
      <ion-item class="item   ">


          <i class="icon ion-person assertive">Name :{{ profile.name }} </i>
          <ion-option-button class="button-positive icon ion-edit" ng-click=""></ion-option-button>
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click=""></ion-option-button>

      </ion-item>
    </ion-list>



    <ion-item class="item-icon-left assertive">
      <i class="icon ion-ios-telephone-outline"></i> <a ng-href="tel: {{event[0].mobile}}">{{profile.mobile}}</a>
    </ion-item>
    <ion-item class="item-icon-left assertive">
      <i class="icon ion-email"></i>&nbsp;{{ profile.email}}
    </ion-item>

    <ion-item class="item-icon-left assertive">
      <i class="icon ion-transgender"></i>&nbsp;{{ profile.gender}}
    </ion-item>

  </ion-content>
</ion-view>
