
<ion-view title="user" id="user" ng-init="init1()" class=" ">
  <button class="button button-energized button-fab button-fab-bottom-right" ui-sref="tabsController.newReservationTab" style="display: block;"><i class="icon ion-plus"></i> </button>
  <ion-content padding="true" class="has-header">
    <ion-list show-edit="false" show-delete="false" can-swipe="true">
      <ion-item class="item   ">


          <i class="icon ion-person positive">Name :{{ Secustomers[0].name }}</i>
          <ion-option-button class="button-positive icon ion-edit" ng-click=""></ion-option-button>
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click=""></ion-option-button>

      </ion-item>
    </ion-list>



    <ion-item class="item-icon-left positive">
      <i class="icon ion-ios-telephone-outline"></i> <a ng-href="tel: {{event[0].mobile}}">{{Secustomers[0].mobile}}</a>
    </ion-item>
    <ion-item class="item-icon-left positive">
      <i class="icon ion-email"></i>&nbsp;{{ Secustomers[0].email}}
    </ion-item>
    <ion-item class="item-icon-left positive">
      <i class="icon ion-edit"></i>&nbsp;{{ Secustomers[0].description}}
    </ion-item>
    <ion-item class="item-icon-left positive">
      <i class="icon ion-transgender"></i>&nbsp;{{ Secustomers[0].gender}}
    </ion-item>
    <ion-item class="item-icon-left positive">
      <i class="icon ion-calendar"></i>&nbsp;{{ Secustomers[0].birthday}}
    </ion-item>
  </ion-content>
</ion-view>
